@charset "utf-8";

$text-color:       #46433a;
$background-color: #f8f7f5;

body {
    color: $text-color;
    background-color: $background-color;
}

.profilepic-container {
	  text-align: center;
}

.profilepic {
	  width: 144px;
	  height: 144px;
	  display: inline-block;
	  background-size: cover;
	  border-radius: 50%;
	  -moz-border-radius: 50%;
	  border: 2px solid $background-color;
	  box-shadow: 0 0 0 3px $text-color;
}
